body {
    font-family: Georgia, serif;
    background-color: rgb(24, 27, 2);
}
div {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: gray;
    border: solid 3px yellow;
    border-radius: 10px;
}
h1 {
    text-shadow: yellow 1px 0 10px;
	margin: 25px;color: white;
}
h2 {
    color: black;  
    padding: 0.3em 0.5em;
    background: -webkit-repeating-linear-gradient(-45deg, #8ba459, #f8ffcc 3px,#f9ffe9 3px, #f9ffe9 7px);
    background: repeating-linear-gradient(-45deg, #8ba459, #f8ffcc 3px,#f9ffe9 3px, #f9ffe9 7px);

}
h3 {
    outline: thick double yellow;
    margin-block: 10px 20px;
    writing-mode: horizontal-tb;
    color: yellow;
}
p {
    color: yellow;

}
a:link {
    color: yellowgreen;
  }
  
a:visited {
    color: yellowgreen;
  }

a:hover {
    text-decoration: none;
  }