blowser-intro: style.css
body {
	color: #3f3faf;
}
p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	text-shadow: navy 1px 0 10px;
	color: white;
}

h2 {
	font-family: cursive;
	background: linear-gradient(0.25turn, white, #ffefaf);
	color: #3f3faf;
}
img.hiro {
	float: right;

    width: 50px;
    height: 50px;
    margin: 10px 0 10px 10px;
}
div#zentai {
	display: grid;                      
    grid-template-columns: 1fr 1fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 200px 200px;        /* 高さは 100px */
    grid-gap: 5px;                     /* 隣り合う行（列）の間隔を 10px に*/

   
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
