blowser-intro: style.css
body {
	color: #3f3faf;
}
p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	background-color: #7f7fcf;
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	display: grid;                      
    grid-template-columns: 1fr 1fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
